
services:
  swiparr:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: swiparr
    restart: unless-stopped
    environment:
      - JELLYFIN_URL=http://watch.messerstudios.dev
      - AUTHORS_SECRET=long_random_string_here
      # Path updated to match the /app/data folder in Dockerfile
      - DATABASE_URL=file:/app/data/swiparr.db
      - NEXT_PUBLIC_JELLYFIN_PUBLIC_URL=http://watch.messerstudios.dev
    volumes:
      # Map host folder to the specific folder created in the Dockerfile
      - ./swiparr-data:/app/data
    ports:
      - 4321:4321
